.j {
    fill: none;
    stroke-miterlimit: 10;
}
.d {
    fill: #06181d;
}
.k {
    fill: #fff;
}
.h {
    fill: #04181d;
}
.j {
    stroke: #fff;
    stroke-width: 2.052px;
}
.m {
    fill: #416159;
}

.indexImageWrapper {
    position: relative;
    .index-image {
        margin: -22% -10% 0 5%;
        overflow: visible;
    }
}
