@import '../../../styles/abstract.scss';
.j {
    fill: none;
    stroke-miterlimit: 10;
}
.d {
    fill: #06181d;
}
.k {
    fill: #fff;
}
.h {
    fill: #04181d;
}
.j {
    stroke: #fff;
    stroke-width: 2.052px;
}
.m {
    fill: #416159;
}

.indexImageWrapper {
    position: relative;
    .index-image {
        max-width: 700px;
        overflow: visible;
        @include touch {
            margin-left: 20px;
            margin-right: -70px;
            margin-bottom: -30px
        }
    }
}

.indexSwitch {
    top: 100px;
    left: 20%;
    @include touch {
        top: 15%;
        left: 5%;
    }
}
