@import '../../../styles//abstract.scss';
$border-width: 0.3rem;
$width: 1.75rem - $border-width * 2;
$height: 4.5rem - $border-width;
$switch-color: #5D0E2C;
$switch-bg-color: #fff;

.light-switch {
    position: absolute;
    background-color: $switch-bg-color;
    border: $border-width solid $switch-bg-color;
    height: $height;
    border-radius: ($width + $border-width * 2) / 2;
    cursor: pointer;
}

.switch {
    width: $width;
    height: $width;
    border-radius: 50%;
    background-color: $switch-color;
    transition: transform 200ms ease-in-out;
    &.on {
        transform: translateY(0);
    }
    &.off {
        transform: translateY($height - $width - $border-width * 2);
    }
}

.indexTextBoulbe {
    @include touch {
        display: none;
    }
}