.g,
.n {
    fill: none;
}
.e {
    stroke: #04181d;
}
.d,
.e,
.f,
.g {
    stroke-miterlimit: 10;
}
.e,
.g {
    stroke-width: 4px;
}
.c,
.m {
    fill: #04181d;
}
.d {
    fill: #7b9069;
}
.e,
.f {
    fill: #fff;
}
.g {
    stroke: #f4f4f4;
}
.i {
    fill: #cfacbe;
}
.l,
.m {
    stroke: none;
}

.balance__image {
    max-height: 60vh;
}