.f,
.p,
.r {
    fill: none;
}
.e,
.f,
.p {
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.c,
.d {
    fill: #416159;
}
.d {
    opacity: 0.2;
}
.e {
    fill: #193639;
}
.e,
.f {
    stroke: #0e3239;
}
.m {
    fill: #cfacbe;
}
.p {
    stroke: #f4f4f4;
}
.q {
    stroke: none;
}
