.h,
.j,
.o {
    fill: none;
}
.h,
.i,
.j,
.o {
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.c {
    fill: #b4c0d3;
}
.d,
.i {
    fill: #5e734e;
}
.e {
    fill: #416159;
}
.h {
    stroke: #ebf1fb;
}
.i,
.j {
    stroke: #0e3239;
}
.k {
    fill: #0e3239;
}
.o {
    stroke: #fff;
}
