.b,
.f {
    fill: none;
}
.b,
.h {
    stroke: #04181d;
}
.b,
.f,
.h {
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.g {
    fill: #fff;
}
.d {
    fill: #04181d;
}
.f {
    stroke: #fff;
}
.h {
    fill: #7b9069;
}

.svg {
    margin-left: 0;
    // margin-top: -15vh;
    // max-width: 900px;
    max-height: 70vh;
}