$color: white;

.field:not(:last-child) {
    position: relative;
    margin-bottom: 2rem;
    &.focused {
        & .label {
            transform: translateY(-100%);
        }
    }
}

.label {
    color: $color;
    position: absolute;
    margin-top: .5rem;
    z-index: 0;
    transition: transform 150ms ease-in-out;
}

.input {
    color: $color;
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0;
    &:focus {
        border-color: $color;
        box-shadow: none;
    }
}
