$color: white;

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: none;
//   -webkit-text-fill-color: green;
//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
//   transition: background-color 5000s ease-in-out 0s;
// }

.field:not(:last-child) {
    position: relative;
    margin-bottom: 3rem;
    &.focused {
        & .label {
            transform: translateY(-150%);
            font-size: 0.8rem;
        }
    }
}

.label {
    color: $color;
    position: absolute;
    margin-top: 0.5rem;
    z-index: 0;
    transition: transform 150ms ease-in-out, font-size 150ms ease-in-out;
}

.input {
    color: $color;
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0;
    &:focus {
        border-color: $color;
        box-shadow: none;
    }
}

.helpText {
    position: absolute;
}
