@charset "utf-8";
@import './abstract.scss';
@import '~bulma/bulma.sass';

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

p {
    white-space: pre-wrap;
}

.section {
    position: relative;
    margin: 10rem 0;
    &-image {
    }
}

section {
    position: relative;
}

body {
    overflow-x: hidden;
}

.title {
    white-space: pre-line;
}

@mixin touch {
    @media screen and (max-width: $desktop - 1px) {
        @content;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #5d0e2c inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent;
}
