@charset "utf-8";
@import './abstract.scss';
@import '~bulma/bulma.sass';

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

p {
    white-space: pre-wrap;
}

.section {
    position: relative;
    margin: 10rem 0;
    &-image {
    }
}

section {
    position: relative;
}

body {
   overflow-x: hidden;
}

.title {
    white-space: pre-line;
}

@mixin touch {
    @media screen and (max-width: $desktop - 1px) {
        @content
    }
}
