@import "~bulma/sass/utilities/_all.sass";
$bg-color: #5d0e2c;
$color: white;

.hero--contact {
    background-color: $bg-color;
    color: $color;
    :global .title {
        color: $color;
    }
    :global .subtitle {
        color: $color;
    }
}

.contact {
    &__container {
        display: flex;
        align-items: center;
    }
    &__column {
        margin-bottom: 10%;
        padding: 3rem;
    }
}

.header {
    &__title {
        margin-bottom: 35px;
    }
    &__subtitle {
        margin-bottom: 28px;
    }
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.socialIcon {
    font-size: 1.4rem;
    padding: 0 0.5rem;
    color: $color;
    transition: color, transform 150ms ease-in-out;
    &:hover {
        color: darken($color, 15%);
        transform: scale(1.05);
    }
}

.contactForm {
    display: block;
    margin-bottom: 28px;
    width: 140%;
    margin: 0 -20%;
    max-width: 400px;
    @include touch {
        margin: 0;
        width: 100%;
    }
}

.inputGroup {
}

.submitButton {
    margin: 30px 0;
}

.aditionalInfo {
    white-space: pre-line;
    margin: 0 -20%;
    max-width: 400px;
    @include touch {
        margin: 0;
        width: 100%;
    }
}
