@import '../styles/abstract.scss';
$bg-color: #0E3239;
$color: white;

.hero--index {
    background-color: $bg-color;
    color: $color;
    :global .title {
        color: $color;
    }
    .column-relative {
        position: relative;
    }
}

.index-text {
    margin-bottom: 1rem;
    .title {
        background-color: red;
        @include touch {
        }
    }
    max-width: 520px;
    @include touch {
        margin: auto;
        padding: 0 5%;
    }
}