$bg-color: #0E3239;
$color: white;

.hero--index {
    background-color: $bg-color;
    color: $color;
    :global .title {
        color: $color;
    }
    .column-relative {
        position: relative;
    }
}
