@import '../styles/abstract.scss';

$color: white;
$bgc-primary: $primary;
$bgc-secondary: $terinary;
$bgc-terinary: $bgc-light;

.section {
    &--education,
    &--skills,
    &--contact {
        color: $color;
        :global .title {
            color: $color;
        }
    }

    &--education,
    &--skills {
        background-color: $bgc-secondary;
    }

    &--education {
        margin-top: 5rem;
        :global .column {
            &::before,
            &::after {
                background-color: $color;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: -5rem;
            left: 0;
            right: 0;
            height: 10rem;
            background-color: $bgc-terinary;
            z-index: -1;
        }
        &::after {
            position: absolute;
            left: 0;
            top: 100%;
            content: '';
            border-top: 100px solid $bgc-secondary;
            border-right: 100px solid transparent;
            transform-origin: left;
            transform: scaleX(20);
        }
    }

    &--skills {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    &--volunteering {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &--contact {
        background-color: $bgc-primary;
    }
}

.skills-title {
    margin-bottom: 5rem;
}

.scroll-for-more {
    top: 0;
    // height: 10px;
    position: absolute;
    z-index: 9999;
    a {
        color: #fff;
        cursor: default;
    }
}

.header {
    :global .title {
        margin-bottom: 6rem;
    }
    :global .text {
        margin-bottom: 5.5rem;
    }
}

.skill {
    &__item {
        max-width: 400px;
        margin: auto;
    }

    &__header {
        text-align: center;
        margin-bottom: 3.75rem;
    }

    &-title,
    &-icon {
        margin-bottom: 3.75rem;
    }

    &__text {
        margin-bottom: 1.5rem;
    }
}
