@import '~bulma/sass/utilities/_all.sass';
@import '../styles/styles.scss';

$width: 0.5rem;
$color: #5d0e2c;
$color-darker: #{darken($color, 10%)};
$colot-inverse: #fff;

%is-square {
    width: $width;
    padding-top: $width;
}

.dot {
    @extend %is-square;
    background-color: $text;
    border-radius: 50%;
    &s {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        align-items: baseline;
        margin: auto;
        &-wrapper {
            position: absolute;
            top: calc(100vh - 85px);
            width: 100%;
            z-index: 1000;
            @include touch {
                display: none;
            }
        }
    }

    &-text {
        $scale: 1.4;

        font-size: 24px;
        font-weight: 600;
        color: $color;
        padding: 1rem;
        display: inline-block;
        transform-origin: center 40px;
        @extend %baseTransition;
        @include scaleByOnHover($scale, $scale);

        .inverse & {
            color: $colot-inverse;
            &:hover {
                color: $colot-inverse;
            }
        }

        &:hover {
            color: $color-darker;
        }

        &.active {
            transform-origin: center 23px;
            line-height: 0;
        }
    }
}
