@import '../styles/abstract.scss';
.hero {
    background-color: #B3C79B33;
    overflow-x: hidden;
    .subtitle {
        font-size: 1rem;
        line-height: 1.5;
        max-width: 500px;
        margin: auto;
    }
}

.cursor {
    @include touch {
        display: none;
    }
}