@import "~bulma/sass/utilities/_all.sass";
@import '../styles/styles.scss';

.navigation-arrows {
    @include touch {
        display: none;
    }
    .arrow {
        position: fixed;
        top: 50vh;
        transform: translateY(-50%);

        padding: $navbar-padding-horizontal + 0.75rem;

        cursor: pointer;

        & + .arrow {
            right: 0;
        }

    }
}