.b {
    fill: #5e734e;
}
.c {
    fill: #416159;
}
.d,
.g {
    fill: #fff;
}
.d,
.f {
    stroke: #04181d;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.e {
    fill: #04181d;
}
.f {
    fill: none;
}
