.b {
    fill: #0e3239;
}
.c,
.g {
    fill: #fff;
}
.c,
.f {
    stroke: #04181d;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.d {
    fill: #04181d;
}
.e {
    fill: #416159;
}
.f {
    fill: none;
}
