@import "../../styles/abstract.scss";

$dot-size: 1rem;
$timeline-color: #0E3239;

%dot {
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: $timeline-color;
    @include touch {
        width: $dot-size / 1.5;
        height: $dot-size / 1.5;
    }
}

%line {
    background-color: $timeline-color;
    width: $dot-size / 4;
    @include touch {
        width: $dot-size / 8;
    }
}

.timeline {
    $padding-x: 5%;
    $padding-y: 7%;

    max-width: 80%;
    margin-left: 10%;
    margin-right: 5%;

    &__row {
        &:last-child {
            .timeline__item {
                &::after {
                    display: none;
                }
            }
        }

        // ROW MODIFICATION
        &.row-reverse {
            flex-direction: row-reverse;
            .timeline {
                &__item {
                    padding-right: $padding-x !important;
                    &::before,
                    &::after {
                        left: auto;
                        right: 0;
                        transform: translateX(50%);

                        @include touch {
                            left: 0;
                            right: auto;
                            transform: translateX(-50%);
                        }

                    }
                }
                &__image {
                    justify-content: flex-start;
                    padding-left: $padding-x * 2 !important;
                }
            }
        }
    }

    &__item,
    &__image {
        padding-bottom: $padding-y;
    }

    &__item {
        position: relative;
        padding-left: $padding-x !important;
        @include touch {
            padding-left: 15% !important;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 1rem;
            left: 0;
            transform: translateX(-50%);
        }

        &::before {
            @extend %dot;
        }

        &::after {
            @extend %line;
            height: 100%;
        }

        :global .title {
            margin-bottom: 0;
            line-height: 1.3;
        }

        :global .text {
            // max-width: 450px;
        }

        :global .date {
            margin-bottom: 21px;
        }

        :global .button {
            margin-top: 2rem;
        }
    }

    &__image {
        // text-align: right;
        padding-right: $padding-x * 2 !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg {
            overflow: visible;
        }

        &--main {
            justify-content: space-evenly;
        }

        @include touch {
            display: none !important;
        }
    }

}
